
.bx1{
    border-radius: 5px;
    background-color: white;
    border-radius: 30px;
    width: 40%;
    border: 1px solid black;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 40px 10px;
}

#header1{
    text-align: center;
    color: rgb(131, 113, 238);
    padding: 10px;
}

#header2{
    text-align: center;
    color: white;
    padding: 10px;
}

#delete_btn {
    width: 100%;
    background-color: #cf4a4a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

#edit_btn {
    width: 100%;
    background-color: #4b974d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    
}

#delete_btn:hover {
    background-color: #c92b2b;
}

#edit_btn:hover {
    background-color: #40b846;
}

div.profile {
    width: 70%;
    border: 1px solid black;
    margin: auto;
    padding: 10px;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    text-align: center;
}


